.search-bg-container {
  width: 100vw;
}

.search-page-container {
  min-height: 90vh;
  width: 100%;
  background-color: #010101;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.emptyMovieListContainer {
  height: 90vh;
  width: 100vw;
  background-color: #010101;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-list-image {
  height: 40vh;
  width: 50vw;
}

.empty-list-text {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: bold;
}
